.login-page {
  height: 750px;
  background: linear-gradient(45deg, #fead06, #c00def);
  &-heading {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
  }
}
.account {
  margin: 0 auto;
  height: 350px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(#000, 0.2);
  background:rgba(#fff,0.7);
}
.login-form {
  form {
      padding: 40px 0;
  }
}
.inputBox {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 46px;
  margin-bottom: 25px;
  &:last-child {
      margin-bottom: 0;
  }
  input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 1px solid #b3b4c9;
      padding: 15px;
      outline: none;
      font-size: 1.6rem;
      &:focus ~ span,
      &:valid ~ span {
          transform: translate(-10px, -35px);
          font-size: 1.2rem;
      }
      &:focus {
          box-shadow: 0 0 5px 0 #74b9ff;
      }
  }
  input[type="submit"] {
      background: #74b9ff;
      border-radius: 10px;
      border-color: #74b9ff;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
          background: #74b9ff;
      }
  }
  span {
      position: absolute;
      top: 5px;
      left: 1px;
      padding: 15px;
      display: inline-block;
      pointer-events: none;
      transition: all 0.3s;
      color: #b3b4c9;
  }
}