<div class="container mt-5">
  <h3 class="title">Kết quả</h3>
  
  <div class="results-column">
    <div class="results-box">
      <p>Số câu đúng</p>
      <h3>{{socaudung}}/{{socauhoi}}</h3>
    </div>
    <div class="results-box">
      <p>Điểm số</p>
      <h3>{{diem}}</h3>
    </div>
  </div>
</div>